.App {
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: left;
  min-height: 10vh;
  background: rgb(73, 79, 200);
  color: white;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: left;
  list-style: none;
}

body,
html,
#root,
.app,
.container {
  width: 100%;
  height: 100%;
}

li {
  list-style: none; /*remove dots*/
}

.container {
  font-size: 28px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  padding-bottom: 25px;
}

.inputField,
.custom-pagination,
.submitButton {
  padding-top: 16px;
}
nav.custom-pagination {
  padding-top: 5px;
}
.input {
  box-sizing: border-box;
  outline: none;
  border: solid 2px #1189de;
  border-radius: 4px;
  color: #292929;
  width: 100%;
  padding: 12px;
  font-size: 14px;
  background: rgba(255, 255, 255, 1);
}

.app-btn {
  width: 100%;
  min-width: 280px;
  color: #565656;
  padding: 12px;
  font-size: 14px;
  font-weight: bold;
  border: solid 2px #1189de;
  border-radius: 4px;
  background: #fff;
  cursor: pointer;
}

.app-btn:hover {
  border-color: #1189de;
}
.app-btn:disabled,
.app-btn[disabled] {
  border-color: #021b2c;
  background-color: #cccccc;
}
.loginForm {
  box-sizing: border-box;
  width: 100%;
  max-width: 400px;
  padding-left: 20px;
  padding-right: 20px;
}
.loginform-password_with-button {
  display: flex;
}

.logingform-btn-show-hide-password {
  color: #565656;
  font-size: 14px;
  font-weight: bold;
  border: solid 2px #1189de;
  border-radius: 4px;
  background: #fff;
  cursor: pointer;
  width: 119px;
  margin-left: 50px;
}
.logingform-btn-show-hide-password:hover {
  border: solid 2px #021b2c;
}

.logingform-btn-show-hide-password:disabled {
  border: solid 2px #021b2c;
  background-color: #cccccc;
}

.loginform-input-with-button {
  border: solid 2px #1189de;
  border-radius: 4px;
  color: #292929;
  width: 125%;
  padding: 12px;
  font-size: 14px;
  background: rgba(255, 255, 255, 1);
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.category-btn-group button {
  background-color: #4caf50; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 5px 5px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 10%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
}

.category-btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.category-btn-group button:hover {
  background-color: #3e8e41;
}
.categories-column {
  float: left;
  width: 30%;
  padding: 10px;
}
.search {
  display: flex;
}
.search-input {
  border: 2px solid grey;
  margin-left: 15px;
  width: 150%;
  background: #f1f1f1;
  border: solid 2px #1189de;
  border-radius: 4px;
  color: #292929;
  width: 200%;
  /* padding: 12px; */
  font-size: 14px;
  background: rgba(255, 255, 255, 1);
}
.search-btn {
  color: #565656;
  font-size: 14px;
  font-weight: bold;
  border: solid 2px #1189de;
  border-radius: 4px;
  background: #fff;
  cursor: pointer;
  margin-left: 150px;
}
search-search-submitbutton:hover {
  background: #0b7dda;
}

.search-list {
  text-align: left;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  text-align: left;
  /* border: 2px solid black; */
  border: 3px solid #dddddd;
  padding: 8px;
}

thead button {
  border: 0;
  border-radius: none;
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  padding: 0.5em;
  margin-bottom: 1px;
}

thead button.ascending::after {
  content: "👇";
  display: inline-block;
  margin-left: 1em;
}

thead button.descending::after {
  content: "☝️";
  display: inline-block;
  margin-left: 1em;
}

tbody td {
  padding: 0.5em;
  border-bottom: 1px solid #ccc;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tbody tr:hover {
  background-color: #eee;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

body {
  font-family: "open sans", sans-serif;
  font-size: 16px;
}
